@model DataLayer.Entities.User.RoleEqulity

@{
    ViewData["Title"] = "ویرایش پاداش همسطحی";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="text-xs-center alert alert-info">
    ویرایش پاداش همسطحی
    <a asp-action="Index" class="btn btn-warning float-xs-left"><i class="fa fa-reply"></i></a>
</h2>

<hr />
<div class="row">
    <div class="offset-md-4 col-md-4 col-xs-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="RoleId" class="control-label"></label>
                <select asp-for="RoleId" class="form-control" asp-items="ViewBag.RoleId"></select>
                <span asp-validation-for="RoleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="L1EPercent" class="control-label"></label>
                <input asp-for="L1EPercent" class="form-control" />
                <span asp-validation-for="L1EPercent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="L2EPercent" class="control-label"></label>
                <input asp-for="L2EPercent" class="form-control" />
                <span asp-validation-for="L2EPercent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="L3EPercent" class="control-label"></label>
                <input asp-for="L3EPercent" class="form-control" />
                <span asp-validation-for="L3EPercent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="L4EPercent" class="control-label"></label>
                <input asp-for="L4EPercent" class="form-control" />
                <span asp-validation-for="L4EPercent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="ویرایش" class="btn btn-primary col-xs-12" />
            </div>
        </form>
    </div>
</div>



