<footer id="footer" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">



    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4 class="text-right">لینکهای مفید</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="http://pasargadins.ir/">سایت مرجع</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="https://inslearn.ir/">سامانه آموزش</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="http://ap.pasargadlifeins.ir/">اتوماسیون اداری</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="http://agent.pasargadlifeins.ir/">اعطای نمایندگی</a></li>

                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4 class="text-right">دسترسی سریع</h4>
                    <ul>

                        <li><i class="bx bx-chevron-right"></i> <a href="/News">اخبار</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/About">درباره ما</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/Contact">تماس با ما</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/Login">دفتر کار</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h4 class="text-right">اطلاعات تماس</h4>
                    <p class="text-right text-justify">
                        تهران، خیابان سهروردی شمالی - خیابان ابن یمین - نبش خیابان هجدهم - پلاک 13 - طبقه 3
                        <br>
                        <strong>تلفن : </strong>
                        <span dir="ltr">021-88764001</span><br>
                        <span dir="ltr">
                            021-88761009
                        </span><br>
                        <strong>ایمیل : </strong> pasargadlifeins@yahoo.com<br>
                    </p>

                </div>

                <div class="col-lg-3 col-md-6 footer-info text-right">
                    <h3>درباره ما</h3>
                    <p class="text-justify">
                        سازمان فروش تخصصی بیمه پاسارگاد بزرگترین سازمان تخصصی مشاوره و فروش بیمه نامه در کشور است که تا کنون نسبت به ارائه مشاوره و صدور بیمه نامه برای بیش از 5 میلیون نفر اقدام نموده است.
                    </p>

                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            تمامی حقوق برای سازمان فروش بیمه پاسارگاد محفوظ است <br />
            &copy;  1399
        </div>
        <div class="credits">

            طراحی شده توسط <a href="https://tadbirict.ir/">فناوری اطلاعات و ارتباطات تدبیر</a>
        </div>
    </div>
</footer>