<section class="features" >
    <div class="container line-hight-11mm">

        <div class="row">
            <div class="section-title">
                <h2>ماموریت ما</h2>
                <p class="fs-18 text-justify">
                    سازمان فروش تخصصی بیمه پاسارگاد از بدو تاسیس در سال 1385 همواره چشم اندازی تعالی محور در پیش روی خود مجسم نموده و با بهره گیری از تمام پتانسیل های موجود در مدیران با تجربه و انگیزه همکاران جوان تحقق چهار هدف بنیادی زیر را به عنوان ماموریت خود در نظر گرفته است:
                </p>
            </div>
        </div>
        <div class="row" data-aos="fade-up">
            <div class="col-md-5 order-1 order-md-2">                
                <img src="~/images/features/F1.png" class="img-fluid" alt="آرامش امروز، آسایش فردا" />
            </div>
            <div class="col-md-7 pt-5 order-2 order-md-1">
                <h3 class="text-right">آرامش امروز ، آسایش فردا</h3>
                <p class="text-justify  fs-18">
                    باور ما بر این است که با تحقق و توسعه بیمه های زندگی در کشور است که می توانیم جامعه ای سالم، با نشاط و امیدوار به آینده داشته باشیم. چرا که اطمینان به تامین آتیه و آرامش حاصل از آن بزرگترین پشتوانه برای تلاش امروز در جامعه خواهد بود و این امر آسایش فردا را برایمان به ارمغان خواهد آورد.                
                </p>
                <p class="text-justify fs-18">
                    پدری که از بابت دوران بازنشستگی و تامین هزینه های آن دوران نگران نباشد، مادری که می داند در هر شرایط تحت پوشش خدمات بیمه ای و بازنشستگی قرار دارد و خانواده ای که نگران تامین آتیه ای مناسب برای فرزندانش نیست. در چنین شرایطی است که آرامش و آسایش در خانواده های مان حاکم خواهد شد.

                </p>

            </div>
        </div>
        <div class="row" data-aos="fade-up">
            <div class="col-md-5">
                <img src="~/images/features/F2.png" class="img-fluid" alt="کارآفرینی و اشتغال پایدار">
            </div>
            <div class="col-md-7 pt-4">
                <h3 class="text-right">کارآفرینی و اشتغال پایدار</h3>
                <p class="text-justify fs-18">
                    امروز که اشتغال یکی از بزرگترین دغدغه های کشور ماست بهره گیری از پتانسیل های موجود در صنعت بیمه می تواند کسب کاری پایدار، کم هزینه و زود بازده را برای آحاد جامعه اعم از دانشجویان، فارغ التحصیلان و حتی شاغلین و بازنشستگان فراهم نماید. بیمه پاسارگاد در همین راستا با تسهیل در شرایط اعطاء نمایندگی و ارائه حمایتهای آموزشی، فنی و مالی شرایط ویژه ای فراهم نموده است.
                </p>

            </div>
        </div>

        <div class="row" data-aos="fade-up">
            <div class="col-md-5 order-1 order-md-2">
                <img src="~/images/features/F3.png" class="img-fluid" alt="خلاقیت  فرصتهای برابر">
            </div>
            <div class="col-md-7 pt-5 order-2 order-md-1">
                <h3 class="text-right">خلاقیت و فرصتهای برابر</h3>
                <p class="text-justify fs-18">
                    ایجاد فرصتهای برابر و مبتنی بر شایستگی و خلاقیت یکی از ماموریت های مهم ما در سازمان فروش بیمه پاسارگاد است تا با ایجاد چنین فرصتی برای افرادی که در خود توانمندی و پتانسیل رشد و تعالی را می بینند بستری فراهم کنیم که با تلاش برای تحقق آرزوهای خود در مسیر تحقق اهداف متعالی سازمان و همچنین خدمت به جامعه  گام بردارند.
                </p>
                <p class="text-justify fs-18">
                    اگر علاقمند به کار تیمی در محیطی پویا ، خلاق و آموزش محور هستید و اهداف و آرزوهای بزرگی در سر دارید بیمه پاسارگاد همانجایی است که باید باشید.
                </p>

            </div>
        </div>

        <div class="row" data-aos="fade-up">
            <div class="col-md-5">
                <img src="~/images/features/F4.png" class="img-fluid" alt="ارزشمندی و تاثیرگذاری">
            </div>
            <div class="col-md-7 pt-5">
                <h3 class="text-right">ارزشمندی و تاثیرگذاری</h3>
                <p class="text-justify fs-18">
                    این باور که هر کدام از ما در این دنیا نقش و مسئولیتی داریم و پا در این جهان گذاشته ایم تا با حضورمان دنیا را جای بهتری برای خود ودیگران کنیم یکی از باورهای ما در پاسارگاد است. به همین دلیل همواره به دنبال جذب همکارانی همسو با این نگرش در سازمان هستیم تا در کنار هم فردای ایران را بهتر از آنچه هست بسازیم.
                </p>
                <p class="text-justify fs-18">
                    ما از دیروز درس می گیریم ، امروز عاشقنه تلاش می کنیم تا فردایی شایسته برای خود و میهن مان به شایستگی نام بزرگ پاسارگاد به ارمغان بیاوریم. اگر شما هم با ما همسو و هم مسیر هستید مشتاقانه از شما استقبال می کنیم.
                </p>
                
            </div>
        </div>



    </div>
</section>