
<section class="services">
    <div class="container">

        <div class="row">
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
                <div class="icon-box icon-box-pink">
                    <div class="icon"><i class="bx bxl-shopify"></i></div>
                    <h4 class="title"><a href="javascript:void(0)">آرامش بخرید</a></h4>
                    <p class="description">
                        با خرید بیمه زندگی آرامش امروز و آسایش فردا را برای خود و خانواده به ارمغان بیاورید.
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                <div class="icon-box icon-box-cyan">
                    <div class="icon"><i class="bx bx-money"></i></div>
                    <h4 class="title"><a href="javascript:void(0)">همکاری کنید</a></h4>
                    <p class="description">
                        در مسیر فرهنگ سازی و توسعه بیمه های زندگی با ما همراه شوید و درآمد کسب کنید.
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                <div class="icon-box icon-box-green">
                    <div class="icon"><i class="bx bxl-edge"></i></div>
                    <h4 class="title"><a href="javascript:void(0)">آموزش ببینید</a></h4>
                    <p class="description">
                        با حضور در سمینارها و دوره های آموزشی دانش بیمه ای و مهارتهای فردی کسب کنید.
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                <div class="icon-box icon-box-blue">
                    <div class="icon"><i class="bx bx-check-shield"></i></div>
                    <h4 class="title"><a href="javascript:void(0)">پیشرفت کنید</a></h4>
                    <p class="description">
                        سازمان فروش پاسارگاد محیطی پویا برای رشد شخصی و ارتقاء شغلی شما فراهم کرده است.
                    </p>
                </div>
            </div>

        </div>

    </div>
</section>